* {
	font-family: 'Montserrat', sans-serif;
	margin: auto;
	box-sizing: border-box;
}
.highlight {
	color: #1bb275;
}


/***** HEADER *****/
header {
	display: inline-block;
	background-color: #1bb275;
	width: 100%;
	position: fixed;
	height: 80px;
	z-index: 1;
}
#navlogo {
	font-weight: 700;
	color: white;
	padding: 20px 45px;
	width: 10%;
	margin: auto;
	float: left;
}
#navlinks {
	float: right;
	margin: 30px;
	width: 60%;
	text-align: right;
}
.link {
	text-decoration: none;
	color: white;
	margin: auto 5%;
	padding: 10px;
}
.link:hover {
	font-weight: 500;
}


/***** VIDEO *****/
#video {
	clear: left;
	background-color: black;
	width: 100%;
	height: 900px;
	margin-bottom: 60px;
}
#egdivideo {

}


/***** MAIN *****/
main {
	width: 100%;
}

.aboutus {
	text-align: center;
	width: 100%;
}
.aboutcontainer {
	display: inline-block; 
	margin-top: 40px;
	margin-bottom: 40px;
}
#aboutustext {
	float: left;
	width: 55%;
	text-align: left;
	font-size: 28px;
}
#aboutquote {
	font-size: 18px;
}
#aboutimagecontainer {
	float: right;
	width: 45%;
}
#aboutusimg {
	float: right;
	width: 95%;
	height: 280px;
}


/***** MEANING *****/
#meaning {
	display: inline-block;
}
.meaningimg {
	float: left;
	width: 24%;
	position: relative;
}
.boximage {
	width: 100%;
	height: 280px;
	margin-left: 1%;
}
/*.meaningtitle {
	padding: 10px;
	font-size: 24px;
	color: white;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 200px;
	right: 0;
}*/
/***** MEANING ANIMATION *****/

.meaningtitle {
	padding: 10px;
	font-size: 24px;
	color: white;
	background-color: rgba(0,0,0,.5);
	position: absolute;
	top: 200px;
	right: 0;
	opacity: 0;
	animation-name: fadeFromtop;
	-webkit-animation-name: fadeFromtop;
	animation-duration: 800ms;
	-webkit-animation-duration: 800ms;
	animation-timing-function: ease-out;
	-webkit-animation-timing-function: ease-out;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}
.meaningimg:hover .meaningtitle {
	animation-name: fadeFromBottom;
	-webkit-animation-name: fadeFromBottom;
	animation-duration: 800ms;
	-webkit-animation-duration: 800ms;
	animation-timing-function: ease-in;
	-webkit-animation-timing-function: ease-in;
	animation-fill-mode: forwards;
	-webkit-animation-fill-mode: forwards;
}

@keyframes fadeFromBottom  {
        0%{
            opacity:0;
            -webkit-transform: translateY(100%);
            -moz-transform: translateY(100%);
            -ms-transform: translateY(100%);
            -o-transform: translateY(100%);
            transform: translateY(100%);
        }
        100%{
            opacity: 1;
            -webkit-transform: translateY(0px);
            -moz-transform: translateY(0px);
            -ms-transform: translateY(0px);
            -o-transform: translateY(0px);
            transform: translateY(0px);
            display: block;
        }
    }
@keyframes fadeFromtop  {
    0%{
        opacity:1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
    }
    100%{
        opacity: 0;
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(400%);
        -o-transform: translateY(100%);
        transform: translateY(100%);
    }
}


/***** CONTACT BAR *****/
#contactbar {
	height: 250px;
	width: 100%;
	background-image: url("../img/sfnight.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
#contactbartext {
	color: white;
	font-size: 32px;
	font-weight: 500;
	padding-top: 60px;
	padding-left: 60px;
}
.mediumbutton{
	margin-top: 20px;
	border: solid 2px white;
	background: transparent;
	color: white;
	font-family: font-family: 'Montserrat', sans-serif;
	font-size: 20px;
	height: 50px;
	width: 150px;
}

/***** VIDEOROW *****/
#ourwork{
	width: 100%;
	padding: 3% 3% 5% 3%;
	color: #1bb275;
}
#ourworktitle{
	text-align: center;
	text-decoration: underline;
	margin-bottom: 50px;
}
#ourworkvideorow{
	display: inline-block;
	width: 100%;
}
.youtubevideos{
	float: left;
	width: 31%;
	margin: auto 1% auto 1%;
	border-radius: 2px;
}

/***** CONTACT US *****/
.contactus {
	background-color: #eee;
	padding: 50px 10% 130px 10%;
	
}
#contactustitle {
	padding-bottom: 30px;
	text-align: center;
}
.btn-lg {
	float: right;
	background-color: #1bb275;
	border-color: #1bb275;
}	


/***** FOOTER *****/
footer {
	clear: left;
	background-color: #1bb275;
	width: 100%;
	height: 80px;
	padding-top: 20px;
}
#footertitle {
	font-weight: 700;
	color: white;
	text-align: center;
	font-size: 36px;
	width: 100%;
}


@media only screen and (max-width: 768px) {
/***** ABOUT US *****/
	.aboutcontainer {
		text-align: center; 
		margin-top: 40px;
		margin-bottom: 40px;
	}
	#aboutustext {
		width: 100%;
		font-size: 28px;
	}
	#aboutimagecontainer {
		width: 100%;
		clear: both;
	}
	#aboutusimg {
		width: 100%;
		height: 340px;
	}

/***** EGDI MEANING *****/
	.meaningimg {
		width: 50%;
		margin-bottom: 20px;
	}
/***** OUR WORK *****/
	.youtubevideos {
		width: 100%;
		margin-bottom: 20px;
		clear: both;
	}
	.youtubeadjust {
		height: 400px;
	}	
}

@media only screen and (max-width: 620px) {
	#navlinks {
		display: none;
	}
	.meaningimg {
		width: 100%;
		margin-bottom: 20px;
	}
}